.container {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
  
.navbar a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 2px solid #ccc;
    margin-right: 20%;
    border-radius: 50px;
}
.navbar a:hover {
    background-color: white;
    color: #333;
    transition: 0.5s;
}
  